@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes progress-load {
  0% { width: 0%; }
  50% { width: 70%; }
  100% { width: 95%; }
}

.animate-progress-load {
  animation: progress-load 10s ease-in-out infinite;
}